/* Ape Lincoln for President */

header {
  width: 100%;
  margin-top: -1px;
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header img {
  margin-top: 0;
  height: auto;
  width: 64px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier Prime', monospace;
  margin: 0 !important;
  background-color: #001919;
  overflow: wrap;
  color:cyan;
}

main {
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 28rem;
}
.form-control{
  background-color: #001919 !important;
  color: cyan !important;
  border-color: cyan !important;
}
input:-internal-autofill-selected{
  background-color: #001919 !important;
  color: cyan !important;
}
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
small{
  overflow-wrap: break-word;
}
.container{
  text-align: center;
}
header .container{
  margin: 5;
  border-color: cyan;
  border-style: solid;
  border-radius: 0.3rem;
  background-color: #004646;
  width: 40%;
  border-width: 1px;
  box-shadow: inset 0 0 10px;
}
header h2, header h3, header h4, header h5{
  margin: 0;
}
/* Bounce */
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transform: translateX(0); }
  40%, 43% {
    -webkit-transform: translateX(-6px); }
  70% {
    -webkit-transform: translateX(-3px); }
  90% {
    -webkit-transform: translateX(-1px); } }
@-moz-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -moz-transform: translateX(0); }
  40%, 43% {
    -moz-transform: translateX(-6px); }
  70% {
    -moz-transform: translateX(-3px); }
  90% {
    -moz-transform: translateX(-3px); } }
@-o-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -o-transform: translateX(0); }
  40%, 43% {
    -o-transform: translateX(-6px); }
  70% {
    -o-transform: translateX(-3px); }
  90% {
    -o-transform: translateX(-3px); } }
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transform: translateX(0); }
  40%, 43% {
    transform: translateX(-6px); }
  70% {
    transform: translateX(-3px); }
  90% {
    transform: translateX(-3px); } }

.u--bounce {
  -webkit-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95); 
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
  /* flip */
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg); } 
  100%{
    -webkit-transform: rotate3d(0, 1, 0, -360deg); }
}
@-moz-keyframes flip {
  0% {
    -moz-transform: rotate3d(0, 1, 0, 0deg); } 
  100%{
    -moz-transform: rotate3d(0, 1, 0, -360deg); }
}
@-o-keyframes flip {
  0% {
    -o-transform: rotate3d(0, 1, 0, 0deg); }
  100% {
    -o-transform: rotated3d(0, 1, 0, -360deg); }
}

@keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, 0deg); } 
  100%{
    transform: rotate3d(0, 1, 0, -360deg);}
}

.u--flip {
  -webkit-animation: flip 2s ease-out;
  -moz-animation: flip 2s ease-out;
  -o-animation: flip 2s ease-out;
  animation: flip 2s ease-out; 
  animation-direction: alternate;
  animation-iteration-count: infinite;}
.u--flip-bounce{
  -webkit-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 2s linear infinite;
  -moz-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 2s linear infinite;
  -o-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 2s linear infinite;
  animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 2s linear infinite;
}
.u--flip-bounce-fast{
  -webkit-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 1s linear infinite;
  -moz-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 1s linear infinite;
  -o-animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 1s linear infinite;
  animation: bounce 2s cubic-bezier(0.445, 0.05, 0.55, 0.95), flip 1s linear infinite;
}
@media(min-width: 768px) {
  main {
    width: 50%;
  }
}

@media(max-width: 767px) {
  main {
    width: 80%;
  }
}

p {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}


.address-input {
  padding-bottom: 5px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bonus-text{
  margin-top: 5px;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
#hcaptchaButton{
  margin-top: 5px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 0px cyan, 0 0 2px cyan, 0 0 4px cyan, 0 0 8px cyan, 0 0 12px cyan, 0 0 16px cyan, 0 0 20px cyan;
  }
  to {
    text-shadow: 0 0 4px cyan, 0 0 8px cyan, 0 0 12px cyan, 0 0 16px cyan, 0 0 20px cyan, 0 0 24px cyan, 0 0 28px cyan;
  }
}

button {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  box-shadow: 0 7px 0 0 #007F7F, inset 0 0 5px cyan !important;
  width: 35%!important;
  margin-top: 18px;
  margin-bottom: 1.5rem!important;
  font-weight: 700!important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  color: #212529;
  background-color: #004646;
  border-color: cyan;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  white-space: normal;
  cursor: pointer;
}
button:hover{
    background-color: cyan;
}
button:active{
  background-color: #007F7F;
}

footer {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

a,
a:hover,
a:visited {
  color: cyan;
  font-weight: 700;
}

footer p a,
footer p a:hover,
footer p a:visited {
  color: cyan;
  font-weight: 700;
}
